body{
    background-color: black;
    color: antiquewhite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header css */
.containerT{
    margin: auto;
    overflow: hidden;
    width: 80%;
}
.headerT{
    
    padding-top: 0px;
    min-height: 70px;
    border-bottom: blue 3px solid;
}
.logo{
    border-radius: 5px;
}
.logo-main{
    width: 70px;
    height: 60px;
    border-radius: 7px;
    padding-top: 5px;
}
header a{
    color:antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    padding: 20px 20px 0 20px;
    float: left;
    display: inline;
}
header .logo{    
    float: left;
}
header .logo{
    margin: 0;
}
header nav{
    float: right;
    padding-top: 0;
    padding-bottom: 20px;
}
header a:hover {
    color: rgb(241,126,1);
}
header img:hover{
    box-shadow: 5px 5px 15px 5px rgb(241,126,1);
}

/* hero styles */

.sectionHero{
    height: 400px;
    background-image: url("../andy-images/tourist.jpg" ) ;
    background-repeat: no-repeat; 
    background-position:  center;
    background-size: cover;
    text-align: center;
    color: rgb(0,166,90);
}
section .sectionHero{
    padding-top: 0;
    margin-top: 0;

}
 div .theImage {
   
    height:400px;
    width: 700px;
    padding-top: 0;
    margin-top: 0;
}
 .heroText{
    margin-top: 0;
    padding-top: 30px;
    font-size: 60px;
 }
.heroPara{
    font-size: 30px;
}

/* carousel */
.carouselGrid{
    position: relative;
   
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
 #sectionGrid div{ 
    float: left;
    padding: 30px;
}
.carouselImages{
    display: flex;
    transition: transform 0.5s ease;
}
.carouselImages img{
    height: 600px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 7px;
}
.carouselB1, .carouselB2{
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.carouselB1{
     left: 0;
}
.carouselB2{
     right: 0;
}


/* footer styles */
.footer{
    text-align: center;
}
.footer2{
    color: rgb(241,126,1) ;
    padding-left: 10px;
}


/* media */

@media(max-width:460px){
    .footer{
        display: flex;
        flex-direction: row-reverse;
    }

}